.container {
  padding: 0;
  width: 20%;
  display: flex;
  flex-direction: column;
  column-gap: 2rem;
  list-style: none;
  margin: 0 auto;
}

.jog {
  margin-bottom: 2rem;
}

.edit {
  color: #7ed321;
  font-weight: bold;
  text-decoration: none;
}
.edit:hover {
  text-decoration: underline;
}

.date-container {
  background-color: #eaeaea;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.date {
  margin-left: 3rem;
}

.input {
  border: solid 1px #979797;
  border-radius: 7px;
}
