.form {
  margin: 0 auto;
  margin-top: 60px;
  width: 30%;
  height: auto;
  background-color: #7ed321;
  padding: 3rem;
  border-radius: 44px;
}

.field {
  clear: both;
  text-align: right;
}

.label {
  float: left;
}

.button {
  display: block;
  width: 70%;
  height: 40px;
  background-color: #7ed321;
  border-radius: 25.2px;
  border: solid 2px #ffffff;
  margin: 0 auto;
  color: #ffffff;
}

.button:hover {
  background-color: #ffffff;
  color: #7ed321;
  border: solid 2px #7eb148;
}

@media (max-width: 420px) {
  .form {
    width: 70%;
  }
}

@media (max-width: 720px) and (min-width: 420px) {
  .form {
    width: 50%;
  }
}
