.form {
  margin: 0 auto;
  margin-top: 60px;
  width: 30%;
  height: auto;
  background-color: #7ed321;
  padding: 3rem;
  border-radius: 44px;
}

.button {
  display: block;
  width: 30%;
  background-color: #7ed321;
  border-radius: 25.2px;
  border: solid 2px #ffffff;
  padding: 0.875rem 7.778rem 0.813rem 7.778rem;
  margin: 0 auto;
  color: #ffffff;
}

.button:hover {
  background-color: #ffffff;
  color: #7ed321;
  border: solid 2px #7eb148;
}

@media (max-width: 420px) {
  .form {
    width: 70%;
  }
}
