.jog {
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: row;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.p {
  margin: 0;
  margin-top: 5px;
}

.date {
  margin-top: 0;
  color: #aeaeae;
}

.edit {
  margin-top: 10px;
  color: #7ed321;
  font-weight: bold;
  text-decoration: none;
}
.edit:hover {
  text-decoration: underline;
}
